{% extends 'daycare_admin/admin.html' %}
{% load static %}
{% block content %}
<div class="container-fluid vh-100">
    
     <div class="row pt-md-5 ms-md-5 me-md-5">
        <div class="col-md-6">


            <div class="card card_style">



                <div class="card-body card_up">
                    <h1 class="card-title fs-bold text-light">5</h1>

                    <div class="d-flex align-items-center">
                        <img src="{% static 'admin_img/card.jpg' %}" alt="" width="45" height="auto" class="img-fluid">
                        <div class="ps-md-3">
                            <h3 class="text-light">New Enrollments</h3>


                        </div>
                    </div>
                </div>

            </div>








        </div>
        <div class="col-md-6">


            <div class="card card_style">


                <div class="card-body card_up">
                    <h1 class="card-title fs-bold text-light">2</h1>

                    <div class="d-flex align-items-center">
                        <img src="{% static 'admin_img/payment.jpg' %}" alt="" width="50" height="auto" class="img-fluid">
                        <div class="ps-md-3">
                            <h3 class="text-light">New Payments</h3>


                        </div>
                    </div>
                </div>


            </div>


        </div>
    </div>
    <!-- End Sales Card -->

</div>
{% endblock %}