{% extends 'daycare_admin/admin.html' %}
{% load static %}
{% block content %}

    <div class=" vh-100">
        <div class="container pt-7">
            <h1 class="text-uppercase text-center fw-bold text-success bg-dark pb-md-2 pt-md-2">parent feedbacks
            </h1>
            <table class="table table-sm border-light text-light fw-bold card_style">
                <thead>
                    <tr>
                        <th scope="col">Parent_Name</th>
                        <th scope="col">Phone_No</th>
                        <th scope="col">Email_id</th>
                        <th scope="col">feedback</th>
                        <th scope="col">Date</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>shilpa</th>
                        <td>9778258161</td>
                        <td>shilpa@gmail.com</td>
                        <td>good</td>
                        <td>3/10/2023</td>
                        
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}