{% extends 'daycare_admin/admin.html' %}
{% load static %}
{% block content %}
     <div class=" vh-100">
        <div class="container p-5">
            <h1 class="text-uppercase text-center fw-bold text-success bg-dark pb-md-2 pt-md-2">STAFF DETAILS
            </h1>
            <table class="table-sm bg-light">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Address</th>
                        <th scope="col">Email_Id</th>
                        <th scope="col">Date_of_birth</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Qualification</th>
                        <th scope="col">Mobile_No</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for staff in all_staffs %}
                    <tr>
                        <td>{{staff.staff_name}}</td>
                        <td>{{staff.staff_address}}</td>
                        <td>{{staff.staff_email_id}}</td>
                        <td>{{staff.staff_dob}}</td>
                        <td>{{staff.staff_gender}}</td>
                        <td>{{staff.staff_qualification}}</td>
                        <td>{{staff.staff_mobile_no}}</td>
                        
                        <td><a href="{% url 'daycare_admin:delete_view' staff.id %}" class="btn btn-primary btn-sm">delete</a></td>
                        
                    </tr>
                    {% endfor %}
                   
                </tbody>    
            </table>
        </div>
     </div>
{% endblock %}