{% extends 'daycare_parent/parent.html' %}
{% load static %}
{% block content %}

<div class=" vh-100 feedback_pic d-flex align-items-center">
    <div class="container p-5">
        <h2 class="text-uppercase text-center fw-bold text-dark report_font">give us your feedback!</h2>
        <form class="px-5 pt-2" method="POST">
            {% csrf_token %}  
                <div class="text-center mb-2">
                    <textarea class="" id="feedback" cols="50" rows="8" name="feed_description"
                        placeholder="Help us to improve with your feedback"></textarea>
                </div>
          

            <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                <input class="btn btn-danger btn-lg" id="submit" type="submit" value="Post Feedback">
            </div>
        </div>
            <div class="container report_font text-center" style="color: blue;" id="">{{message}}</div>
            

        </form>

    </div>
</div>
<!-- <script>
    $(document).ready(function () {
        // Add a click event listener to the submit button
        $('#submit').click(function (event) {
            event.preventDefault(); // Prevent the form from submitting

            // Display the "Thank you" message
            $('#feedback1').append('<center>Thank you for submitting feedback!</center>');
            $("#feedback1").css("color", "blue");

            // Reset the form (optional)
            $('#feedback')[0].reset();
        });
    });
</script> -->

{% endblock %}