{% extends 'daycare_parent/parent.html' %}
{% load static %}
{% block content %}

<div class="container vh-100">
    <div class="container py-5">
        <h2 class="text-upperc  ase text-center pb-md-3 fw-bold text-light report_font">payment form</h2>
        <div class="container"></div>
        <div class="card text-dark bg-secondary px-md-5 mx-md-5">
            <p class="text-center text-dark py-md-1">Payment Details</p>
            <div class="row gx-md-5">
                <div class="col-md-12">
                    <div class="flex-column">
                        <p class="text mb-1">Person Name (On Card)</p>
                        <input class="form-control mb-1" id="name" type="text" placeholder="Name">
                        <div class="invalid-feedback" id="name_error">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="flex-column">
                        <p class="text mb-1">Card Number</p>
                        <input class="form-control mb-1" id="cardno" type="text" placeholder="1234 5678 435678">
                        <div class="invalid-feedback" id="cardno_error">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="flex-column">
                        <p class="text mb-1">Expiry</p>
                        <input class="form-control mb-1" id="expiry" type="text" placeholder="MM/YYYY">
                        <div class="invalid-feedback" id="expiry_error">
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="flex-column">
                        <p class="text mb-1">CVV/CVC</p>
                        <input class="form-control mb-2 pt-2 " id="cvv" type="password" placeholder="*">
                        <div class="invalid-feedback" id="cvv_error">
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="btn btn-primary mb-2">
                        <span class="ps-3" id="pay">Pay Now</span>
                        <span class="fas fa-arrow-right"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#name_error").hide();
        let nameError = true;
        $("#name").keyup(function () {
            validateName();
        });

        function validateName() {
            let nameValue = $("#name").val();
            if (nameValue.length == "") {
                $("#name_error").show();
                document.getElementById("name").style.borderColor = 'red'
                document.getElementById("name_error").innerHTML = "*Please fill this field"
                nameError = false;
                return false;
            } else {
                document.getElementById("name").style.borderColor = ''
                document.getElementById("name_error").innerHTML = ""
                $("#name_error").hide();
            }
        }
        $("#cardno_error").hide();
        let cardnoError = true;
        $("#cardno").keyup(function () {
            validateCardno();
        });

        function validateCardno() {
            let cardnoValue = $("#cardno").val();
            if (cardnoValue.length == "") {
                $("#cardno_error").show();
                document.getElementById("cardno").style.borderColor = 'red'
                document.getElementById("cardno_error").innerHTML = "*Please fill this field"
                cardnoError = false;
                return false;
            } else {
                document.getElementById("password").style.borderColor = ''
                document.getElementById("password_error").innerHTML = ""
                $("#cardno_error").hide();
            }
        }
        $("#expiry_error").hide();
        let expiryError = true;
        $("#expiry").keyup(function () {
            validateExpiry();
        });

        function validateExpiry() {
            let expiryValue = $("#expiry").val();
            if (expiryValue.length == "") {
                $("#expiry_error").show();
                document.getElementById("expiry").style.borderColor = 'red'
                document.getElementById("expiry_error").innerHTML = "*Please fill this field"
                expiryError = false;
                return false;
            } else {
                document.getElementById("expiry").style.borderColor = ''
                document.getElementById("expiry_error").innerHTML = ""
                $("#expiry_error").hide();
            }
        }
        $("#cvv_error").hide();
        let cvvError = true;
        $("#cvv").keyup(function () {
            validateCvv();
        });

        function validateCvv() {
            let cvvValue = $("#cvv").val();
            if (cvvValue.length == "") {
                $("#cvv_error").show();
                document.getElementById("cvv").style.borderColor = 'red'
                document.getElementById("cvv_error").innerHTML = "*Please fill this field"
                cvvError = false;
                return false;
            } else {
                document.getElementById("cvv").style.borderColor = ''
                document.getElementById("cvv_error").innerHTML = ""
                $("#cvv_error").hide();
            }
        }
        $("#pay").click(function () {
            validateName();
            validateCardno();
            validateExpiry();
            validateCvv();

            if (nameError == true && cardnoError == true && expiryError == true && cvvError == true) {
                return true;
            } else {
                return false;
            }

        });


    })

</script>

{% endblock %}