{% extends 'daycare_parent/parent.html' %}
{% load static %}
{% block content %}

<div class="vh-100 profile_pic align-items-center">

    <div class="container p-md-4">
        <h2 class="text-uppercase text-center fw-bold text-dark report_font py-3">create your child's profile here</h2>
        <form class="px-5 pt-2">


            <div class="row">

                <div class="col-md-4 col-sm-12 d-flex">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label text-dark report_font1" for="name">Child_Name:</label>
                        </div>
                        <div class="col-md-6">
                            <input class="form-control border-secondary" type="text" id="name">
                        </div>
                    </div>


                </div>

                <div class="col-md-3 col-sm-12 d-flex">
                    <div class="row">
                        <div class="col-md-4">
                            <label class="form-label  text-dark report_font1" for="dateofbirth">Date-of
                                Birth:</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control border-secondary" type="date" id="dateofbirth">
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-12 d-flex">
                    <div class="row">
                        <div class="col-md-4 px-md-4">
                            <label class="form-label text-dark report_font1" for="gender">Gender:</label>
                        </div>

                        <div class="col-md-4">
                            <div class="form-check d-flex">

                                <input class="form-check-input border-secondary" type="radio" id="gendermale"
                                    name="male" value="male" required>
                                <label class="form-check-label report_font1 ms-md-2" for="genderMale">Male</label>
                            </div>
                        </div>



                        <div class="col-md-4">
                            <div class="form-check d-flex">
                                <input class="form-check-input border-secondary " type="radio" id="gendermale"
                                    name="male" value="female" required>
                                <label class="form-check-label report_font1 ms-md-2" for="genderFemale">Female</label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>



            <div class="row py-md-3">
                <div class="col-md-4 d-flex">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label text-dark report_font1" for="parentname">Parent_Name:</label>
                        </div>
                        <div class="col-md-6">
                            <input class="form-control border-secondary  styles " type="text" id="parentname">
                        </div>
                    </div>
                </div>

                <div class="col-md-4 d-flex ">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label  text-dark report_font1" for="number">Contact Number:</label>
                        </div>
                        <div class="col-md-6">
                            <input class="form-control  border-secondary " type="text" id="number">
                        </div>
                        
                        </div>
                        </div>

                        <div class="col-md-2 d-flex">
                            <div class="row">
                                <div class="col-md-8">
                                    <label class="form-label text-dark report_font1" for="height">Height:</label>
                                </div>
                                <div class="col-md-4">
                                    <input class="form-control border-secondary" type="text" id="height">
                                </div>
                            </div>
                        </div>


                        <div class="col-md-2 d-flex ">
                            <div class="row">
                                <div class="col-md-8">

                                    <label class="form-label text-dark report_font1" for="weight">Weight:</label>
                                </div>
                                <div class="col-md-4">

                                    <input class="form-control  border-secondary " type="text" id="weight">
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="row py-md-3">

                        <div class="col-md-6 d-flex">
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="form-label text-dark report_font1" for="medical_info">Medical
                                        information:</label>
                                </div>
                                <div class="col-md-8">
                                    <textarea class="form-control  border-secondary profile" type="textarea"
                                        id="medical_info" row="2"
                                        placeholder="Any known allergies(food,environmental or medication), chronic health conditions or medical concers"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 d-flex">
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="form-label text-dark report_font1" for="dietary">Dietary Preferences/
                                        Restrictions:</label>
                                </div>
                                <div class="col-md-8">
                                    <textarea class="form-control border-secondary profile" type="textarea" id="dietary"
                                        row="3"
                                        placeholder="Mention any specific dietary needs, food preferences, or restrictions such as vegetarian,or any food allergies."></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row py-md-3">
                        <div class="col-md-6 d-flex">
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="form-label  text-dark report_font1" for="pickup">Authorized
                                        Pickup_list:</label>
                                </div>
                                <div class="col-md-8">
                                    <textarea class="form-control border-secondary profile " type="textarea" id="pickup"
                                        row="3"
                                        placeholder="Include a list of individuals authorized to pickup the child from the daycare."></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 d-flex ">
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="form-label text-dark report_font1" for="preferences">Parental
                                        preferences:</label>
                                </div>
                                <div class="col-md-8">
                                    <textarea class="form-control border-secondary  profile" type="textarea" id="pickup"
                                        row="3" placeholder="Note any specific preferences from parents."></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center px-2">
                        <input class="btn btn-dark btn-lg" id="submit" type="submit" value="Create Profile">
                        <input class="btn btn-dark btn-lg " id="submit" type="submit" value="Update Profile">


                    </div>
              
        </form>
    </div>
</div>
</body>
<script>
    $(documet).ready(function () {
        $('#dateofbirth').datepicker({
            format: 'dd-mm-yyyy'

        });

    });
</script>


{% endblock %}