{% extends 'daycare_parent/parent.html' %}
{% load static %}
{% block content %}

    <div class=" vh-100 attendance">
        <div class="container pt-md-5 ps-md-4 pe-md-4">
            <h2 class="text-uppercase text-center fw-bold text-primary report_font pb-4">attendance register</h2>
            <table class="table table-sm border-white text-white nutrition_style card_style">
                <thead>
                  <tr>
                    <th scope="col">Sl No.</th>
                    <th scope="col">Child_Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Attendace_Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Hellen</td>
                    <td>20/8/2023</td>
                    <td>present</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>vyom</td>
                    <td>20/8/2023</td>
                    <td>present</td>

                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>shiya</td>
                    <td>20/8/2023</td>
                    <td>absent</td>
                </tbody>
              </table>
            </div>
            </div>
            
{% endblock %}