{% extends 'daycare_parent/parent.html' %}
{% load static %}
{% block content %}

    <div class=" vh-100 nutritions">
        <div class="container pt-md-5 ps-md-4 pe-md-4">
            <h2 class="text-uppercase text-center fw-bold text-success card_style report_font  pt-md-2 pb-md-2">advanced nutritions planning
            </h2>
            <table class="table table-sm border-dark text-dark nutrition_style">
                <thead>
                    <tr>
                        
                        <th scope="col">Child_Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Parent_Name</th>
                        <th scope="col">Nutrition_Name</th>
            
                        <th scope="col">Quantity/day</th>
                        <th scope="col">Notes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                       
                        <td>Hellen</td>
                        <td>2</td>
                        <td>swathy</td>
                        <td> raggi powder,banana powder,milk</td>
                        <td>10ts
                            5ts
                            500l
                        </td>
                        <td>avoid if any allergy produced</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

{% endblock %}