{% extends 'daycare_staff/staff.html' %}
{% load static %}
{% block content %}

    <div class=" vh-100 nutritions">
        <div class="container pt-5">
            <h2 class="text-uppercase text-center fw-bold text-success report_font pb-4">advanced nutritions planning</h2>
            <div class="row">
            <table class="table table-sm border-dark text-dark nutrition_style">
                <thead>
                  <tr>
                    <th scope="col">Sl No.</th>
                    <th scope="col">Child_Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Parent_Name</th>
                    <th scope="col">Nutrition_Name</th>
                    <th scope="col">Quantity/day</th>
                    <th scope="col">Notes</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Hellen</td>
                    <td>2</td>
                    <td>swathy</td>
                    <td>banana powder</td>
                    <td>500ml</td>
                    <td>avoid if any allergy produced</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>vyom</td>
                    <td>4</td>
                    <td>jacob</td>
                    <td>raggi powder</td>
                    <td>700 ml</td>
                    <td>no notes</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>shiya</td>
                    <td>3</td>
                    <td>sharanya</td>
                    <td>milk</td>
                    <td>1 L</td>
                    <td>dont give it early morning</td>
                  </tr>
                </tbody>
              </table>
            </div>                                                      
            </div>
            </div>
            {% endblock %}