{% extends 'daycare_staff/staff.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row  px-5 py-3">
        <div class="col-md-5">
    
    <div class="card card_style">



        <div class="card-body card_up">
            <h1 class="card_title fw-bold text-dark">2</h1>

            <div class="d-flex align-items-center">
                <img src="{% static 'staff_img/childlogo.jpg' %}" alt="" width="50" height="auto" class="img-fluid rounded-circle">
                <div class="ps-md-3">
                    <h4 class="text-dark fw-bold card_up">New Profile Created</h4>
                </div>
                </div>
            </div>
        </div>
    </div>
</div></div>
{% endblock %}









































