{% extends 'daycare_staff/staff.html' %}
{% load static %}
{% block content %}
<div class=" vh-100 nutritions overflow-auto ">
    <div class="container pt-5">
        <h2 class="text-uppercase text-center fw-bold text-success report_font pb-4">advanced nutritions planning</h2>
        <table class="table table-sm border-dark text-dark nutrition_style">
            <thead>
              <tr>
    
                <th scope="col">Child_Name</th>
                <th scope="col">Date_of_Birth</th>
                <th scope="col">height</th>
                <th scope="col">weight</th>
                <th scope="col">Medical information</th>
                <th scope="col">Dietary Preferences/Restrictions</th>
                <th scope="col">Add Nutritions</th>
              </tr>
            </thead>
            <tbody>
             
                {% for child in all_child %}
                <tr>
                <td>{{child.name}}</td>
                <td>{{child.dateofbirth}}</td>
                <td>{{child.height}}</td>
                <td>{{child.weight}}</td>
                <td>{{child.medical_information}}</td>
                <td>{{child.dieatry_preferences}}</td>
                <td><a href="{% url 'daycare_staff:nutritions' child.id %}" class="btn btn-primary btn-sm">Click</a></td>
              </tr>
              {% endfor %}
            
            </tbody>
          </table>
        </div>
        </div>
        {% endblock %}
        