{% extends 'daycare_staff/staff.html' %}
{% load static %}
{% block content %}
<div class=" vh-100 nutritions">
    <div class="container pt-5">
        <h2 class="text-uppercase text-center fw-bold text-success report_font pb-4">advanced nutritions planning</h2>
        <table class="table table-sm border-dark text-dark nutrition_style">
            <thead>
              <tr>
                <th scope="col">Sl No.</th>
                <th scope="col">Child_Name</th>
                <th scope="col">Age</th>
                <th scope="col">gender</th>
                <th scope="col">Parent Name</th>
                <th scope="col">contact number</th>
                <th scope="col">height</th>
                <th scope="col">weight</th>
                <th scope="col">Medical information</th>
                <th scope="col">Dietary Preferences/Restrictions</th>
                <th scope="col">Authorized pickup list</th>
                <th scope="col">Parental Preferences</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Hellen</td>
                <td>2</td>
                <td>female</td>
                <td>swathy</td>
                <td>9778258161</td>
                <td>40</td>
                <td>15</td>
                <td>No allergies</td>
                <td>vegetarian</td>
                <td>john,swathy</td>
                <td>Nothing</td>
              </tr>
            
            </tbody>
          </table>
        </div>
        </div>
        {% endblock %}
        