{% extends 'master.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 pe-5">
            <h1 class="fst-italic  text-center fw-bold text-success ">ABOUT US</h1>
            <p class="pt-3 text-dark about_para">In our calicut university Daycare, we provide exceptional care and
                early education for children
                ages from 1 to 5. We are dedicated to creating a safe, nurturing, and stimulating environment where
                children can learn, grow, and thrive.

                Our experienced and passionate team of caregivers is committed to fostering the development of each
                child,
                supporting their social, emotional, cognitive, and physical growth. We believe in the power of
                play-based
                learning and offer a balanced curriculum that encourages exploration, creativity, and critical
                thinking.


                We invite you to visit calicut university Daycare and see firsthand how we create a nurturing and
                enriching
                environment for your child. Our friendly staff is available to answer any questions you may have and
                provide you
                with a tour of our facilities.

                Join us at calicut university Daycare, where we lay the foundation for a lifetime of learning and
                success.
                Contact us today to learn more and enroll your child in our program.</p>
        </div>
        <div class="col-md-4 pt-4  mb-3 about_img">
                 </div>
        </div>
    </div>
    {% endblock %}