{% extends 'master.html' %}
{% block content %}
<section class="container-fluid py-22 vh-100 body_section" id="home">
    <h2 class="text-uppercase fw-bold  text-center  text-light  card_style home">welcome to the calicut university daycare</h2>
     <h3 class="fst-italic text-success px-22 text-capitalize">let your children soar with us!</h3>
</section>
<section class="container-fluid vh-100 about" id="about">
    <div class="container pt-3">
        <div class="row">
            <div class="col-md-8">
                <h1 class="fst-italic  text-center fw-bold text-success">ABOUT US</h1>
                <p class="text-dark about_para">In our calicut university Daycare, we provide exceptional and quality care for 
                    your children ages from 1 to 5. We are dedicated to creating a safe, nurturing, and stimulating environment where
                    children can learn, grow, and thrive.
    
                    Our experienced and passionate team of caregivers is committed to fostering the development of each
                    child,
                    supporting their social, emotional, cognitive, and physical growth. We believe in the power of
                    play-based
                    learning and offer a balanced curriculum that encourages exploration, creativity, and critical
                    thinking.
    
    
                    We invite you to visit calicut university Daycare and see firsthand how we create a nurturing and
                    enriching
                    environment for your child. Our friendly staff is available to answer any questions you may have and
                    provide you
                    with a tour of our facilities.
    
                    Join us at calicut university Daycare, where we lay the foundation for a lifetime of 
                    success.
                    Contact us today to learn more and enroll your child in our program.</p>
            </div>
            <div class="col-md-4 about_img">
                     </div>
            </div>
        </div>
</section>
<section class="container-fluid vh-100 services" id="services">
    <div class="container ">

        <h1 class="text-center pt-10 pb-3 fw-bold text-capitalize fst-italic text-warning head_0">what we offer</h1>
    
    
        
        <div class="row ">
            <div class="col-md-4 pt-14 serv_1">
                <h5 class="text-center head_1">Quality Care</h5>
            </div>
            <div class="col-md-4  pt-14 serv_2">
                <h5 class="text-center head_1">Online Enrollment</h5>
            </div>
            <div class="col-md-4 pt-14 serv_3">
                <h5 class="text-center head_1">Advanced Meal Planning</h5>
            </div>
        </div>
    
    
        <div class="row ">
            <div class="col-md-4 pt-14 mb-5 pb-5 serv_4 head_1">
                <h5 class="text-center pt-5">Vaccination Alerts</h5>
            </div>
            <div class="col-md-4  pt-14  mb-5 pb-5 serv_5 head_1">
                <h5 class="text-center pt-5"> First Aid Reporting</h5>
            </div>
            <div class="col-md-4 pt-10 mb-5 pb-5 serv_6 head_1">
                <h5 class="text-center pt-12">Online Payment</h5>
            </div>
    
        </div>
        <div>
        </div>
    
    </div>
</section>
{% endblock %}
    