{% extends 'master.html' %}
{% block content %}
<div class="container ">

    <h1 class="text-center pt-10 pb-3 fw-bold text-capitalize fst-italic text-warning head_0">what we offer</h1>


    
    <div class="row ">
        <div class="col-md-4 pt-14 serv_1">
            <h5 class="text-center head_1">Quality Care</h5>
        </div>
        <div class="col-md-4  pt-14 serv_2">
            <h5 class="text-center head_1">Online Enrollment</h5>
        </div>
        <div class="col-md-4 pt-14 serv_3">
            <h5 class="text-center head_1">Advanced Meal Planning</h5>
        </div>
    </div>


    <div class="row ">
        <div class="col-md-4 pt-14 mb-5 pb-5 serv_4 head_1">
            <h5 class="text-center pt-5">Vaccination Alerts</h5>
        </div>
        <div class="col-md-4  pt-14  mb-5 pb-5 serv_5 head_1">
            <h5 class="text-center pt-5"> First Aid Reporting</h5>
        </div>
        <div class="col-md-4 pt-10 mb-5 pb-5 serv_6 head_1">
            <h5 class="text-center pt-12">Online Payment</h5>
        </div>

    </div>
    <div>
    </div>

</div>
{% endblock %}